/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header {
    width: 50%;
    position: fixed;
    z-index: 1;
    background-color: #ffdaB9;
    box-shadow: 0px 2px 5px rgb(236, 195, 159);
}

section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.escrita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 150px;
    margin-left: 5%;
}

.escrita h1{
    font-size: 60px;
}

.escrita h2{
    margin-top: 35px;
    font-weight: 300;
}

.lerMais{
    margin-top: 55px;
    height: 58px;
    width: 248px;
    background-color: #D8BFD8;
    border: #D8BFD8 solid 5px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #C5AC96;
    font-weight: 400;
    font-size: 20px;
}

.barra-navegacao{
    padding: 20px;
    display: flex;
    justify-content: left;
}

.links-header {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 100px;
}

.container-link{
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    transition: 0.5s;
    font-size: 20px;
    color: #000000;
    margin-bottom: 2px;
    text-decoration: none;
    outline: none;
}

.line {
    height: 1px;
    width: 60%;
    background-color: #A07B5A;
}

.links:hover{
    color: #A07B5A;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffdaB9;
}

.first {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../imgs/image 16.png");
    background-repeat: no-repeat;
    height: 100%;
}

.second {
    background-image: url("../imgs/makeup.png");
    width: 50%;
    height: 100%;
}

.third{
    position: absolute;
    width: 826px;
    height: 689px;
    left: -37px;
    top: 0px;
}
/*-----------------------------------------------------------------------------------*/
/*---------------------------------Animação do Scroll--------------------------------*/
header nav div a:hover,
header nav div a.links.home{
    transition: 0.5s ease-out;
    letter-spacing: 2px;
} 


/*--------------------------------------------------------------------------------*/
/*---------------------------------Segunda section--------------------------------*/
.second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50%;
}

.div-img{
    margin-top: 100px;
    margin-left: -900px;
}

.logo{
    width: 650px;
    height: 600px;
}