/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    z-index: 10000;
}

#section-corpo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.escrita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 320px;
    margin-left: -35px;
    margin-right: 70px;
}

.escrita h1{
    font-size: 60px;
}

.escrita h2{
    margin-top: 35px;
    font-weight: 300;
}

/* .lerMais{
    margin-top: 55px;
    height: 58px;
    width: 248px;
    background-color: #D8BFD8;
    border: #D8BFD8 solid 5px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #C5AC96;
    font-weight: 400;
    font-size: 20px;
} */

.barra-navegacao{
    padding: 20px;
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

.barra-navegacao-second{
    background-color: white;
    box-shadow: 0px 4px 4px rgb(224, 224, 224);
    padding: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.no-see{
    display: none;
}

.links-header {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 100px;
}

.container-link{
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    transition: 0.5s;
    font-size: 20px;
    color: #000000;
    margin-bottom: 2px;
    text-decoration: none;
    outline: none;
}

.line {
    height: 1px;
    width: 60%;
    background-color: #A07B5A;
}

.links:hover{
    color: #A07B5A;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/Rectangle 46.png");
}

.first {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../imgs/image 17.png");
    height: 100%;
}



/*-----------------------------------------------------------------------------------*/
/*---------------------------------Animação do Scroll--------------------------------*/
header nav div a:hover,
header nav div a.links.line{
    transition: 0.5s ease-out;
    letter-spacing: 2px;
} 


/*--------------------------------------------------------------------------------*/
/*---------------------------------Segunda section--------------------------------*/
.second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 40%;
}

.div-img{
    margin-top: 100px;
    margin-left: -900px;
}
.wave img{
    width: 100px;
    height: 50px;
}

.fadeIn{
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    from{ opacity: 0;
    }
    to{ opacity: 1; 
    }
}

.logo{
    width: 650px;
    height: 600px;
}

.text-sobre{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-right: -55%;
    width: 800px;
    font-family: 'Poppins', sans-serif;
}

.text-sobre h1{
    margin-bottom: 65px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}

.text-sobre h2{
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

/*--------------------------------------------------------------------------------*/
/*---------------------------------Terceira section--------------------------------*/
.segundaSectionCorpo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1400px;
    width: 100%;
    height: 85%;
    background-color: #FFDAB9;
}

.gridReinventar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}
.escritaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
}
.escritaGrid h1{
    margin-bottom: 65px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}
.escritaGrid p{
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

.rodape{
    margin-top: 50px;
    background-color: #402B28;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.stock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 70px;
}
.stock h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.stock p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.contato{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.numerosCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fixo h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.fixo p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.email p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.redes{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/*--------------------------------------------------------------------------------*/

/* *************************************BARRA DE SCROLL***************************************** */
/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(185, 185, 185); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
  }


